@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');
:root{
    --clr-primary: hsl(257, 40%, 49%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: var(--clr-primary) url(./images/bg-desktop.svg) no-repeat left center/cover;
    color: #333;
}
.btn{
    display: block;
    width: 12.5rem;
    padding: 1rem 2rem;
    color: var(--clr-primary);
    font-size: 1.125rem;
    text-decoration: none;
    background: #fff;
    border-radius: 28px;
    margin-top: 1.5rem;
    text-align: center;
}
.container{
    max-width: 90rem;
    width: 100%;
    padding: 3rem 5rem;
    margin: auto;
}
header{
    /* font-family: 'Poppins', sans-serif; */
    width: 100%;
}
header .container{
    padding-bottom: 0;
}
header img{
    width: 200px;
}
section{ 
   
}
section .container{
    display: grid;
    grid-template-columns: minmax(43.5rem, 1fr) minmax(32.5rem, 1fr);
    gap: 0 3.62rem;
    padding-top: 5rem;
}
section article.illustration{
    width: 100%;
}
section article.illustration img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section article.content{
    width: 100%;
    margin-top: 1rem;
}
section article.content h1{
    width: 100%;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}
section article.content p{
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #fff;
    margin-top: 2rem;
}

@media screen and (max-width: 800px){
    body{
    
        background: var(--clr-primary) url(./images/bg-mobile.svg) no-repeat center center/cover;

    }
    header img{
        width: 120px;
    }
    .container{
        width: 100%;
    }
    .btn{
        display: block;
        font-size: 1.125rem;
        border-radius: 20px;
        padding: 1rem 2rem;
        margin-top: 1.5rem;

    }
    section .container{
        grid-template-columns: 1fr;
        padding: 2.5rem;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    section article.illustration{
        width: 100%;
    }
    section article.illustration img{
        display: block;

        object-fit: cover;
    }
    section article.content{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    section article.content h1{
        font-size: 1.5rem;
    }
    section article.content p{
        font-size: 1rem;
    }

}